<div class="container">
  <div class="row">
  <form>
  <div class="small-12 large-12 columns colhead">
      <h2>Team Details....</h2>
  </div>
  <div class=" small-2 large-2 columns coldata">
    <h4>Name:</h4>
  </div>
  <div class="small-10  large-10 columns">
    <input type="text" name="firstname" value="" placeholder="Enter your first Name..." required>
  </div>


  <div class=" small-2 large-2 columns coldata">
    <h4>LastName:</h4>
  </div>
  <div class="small-10  large-10 columns">
    <input type="text" name="lastname" value="" placeholder="Enter your last Name..." required>
  </div>

  <div class=" small-2 large-2 columns coldata">
    <h4>Email:</h4>
  </div>
  <div class="small-10  large-10 columns">
    <input type="email" name="lastname" value="" placeholder="example@domain.com" required>
  </div>


  <div class=" small-2 large-2 columns coldata">
    <h4>Profession:</h4>
  </div>
  <div class="small-10  large-10 columns">
    <input type="text" name="profession" value="" placeholder=" Your profession..." required>
  </div>

  <div class=" small-2 large-2 columns coldata">
    <h4>Bio:</h4>
  </div>
  <div class="small-10  large-10 columns">
  <textarea rows="6" cols="50" required>

  </textarea>
  </div>

  <div class=" small-2 large-2 columns coldata">
    <h4>Profile Picture:</h4>
  </div>
  <div class="small-10  large-10 columns">
    <input type="file" name="profile" value="" required>
  </div>

  <div class=" small-2 large-2 columns coldata">
  </div>
  <div class="small-10  large-10 columns">
    <input type="submit" name="submit" value="Submit" class="success button">
  </div>
</form>


</div><!--row-->
</div><!--container-->
