html, body {height: 100%;}
.floatleft {float:left}
.floatright {float:right}
.alignleft {float:left;margin-right:15px;margin-bottom: 15px}
.alignright {float:right;margin-left:15px;margin-bottom: 15px}
.aligncenter {display:block;margin:0 auto 15px}
body{
  color: #444;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', 'sans-serif';
    font-weight: 300;
    color: #656C70 !important;
}
/* team detais start.....*/
.colhead{
  min-height:auto;
  background:#34ecc6;
  margin: 10px;
  padding: 0px;
}
.coldata{
  text-align: right;
}

/* team detais end.....*/
