<div class="container">
    <div class="fixed">
        <ul class="gn-menu-main">
            <li><a href="#" id="sub-menu"><i class="fi-thumbnails"></i></a></li>
            <li><a href="index.html"><span id="logo">U-</span><span>Admin</span></a></li>
            <li><a href="inbox.html"><span id="msg">4</span> <span>Message</span></a></li>
            <li><a href="inbox.html"><span id="notification">7</span> <span>Notification</span></a></li>
            <li>
                <a href="profile.html">
                    <img src="<%= image_path'johnnydepp.jpg'%>" alt="img" />
                    <span>Profile</span></a>
            </li>
        </ul>
        <div id="admin-menu" class="sub-menu close">
            <div class="row">
                <div class="small-12 columns">
                    <input id="target" type="text" placeholder="Search" />
                </div>
                <div class="small-12 medium-4 large-2 columns">
                    <a href="index.html"><i class="fi-monitor"></i>
                            <br />
                            dashboard</a>
                </div>
                <div class="small-12 medium-4 large-2 columns">
                    <a href="components.html"><i class="fi-graph-pie"></i>
                            <br />
                            components</a>
                </div>
                <div class="small-12 medium-4 large-2 columns">
                    <a href="compose.html"><i class="fi-pencil"></i>
                            <br />
                            compose</a>
                </div>
                <div class="small-12 medium-4 large-2 columns">
                    <a href="inbox.html"><i class="fi-mail"></i>
                            <br />
                            inbox</a>
                </div>
                <div class="small-12 medium-4 large-2 columns">
                    <a href="invoice.html"><i class="fi-page-csv"></i>
                            <br />
                            invoice</a>
                </div>
                <div class="small-12 medium-4 large-2 columns">
                    <a href="gallery.html"><i class="fi-photo"></i>
                            <br />
                            gallery </a>
                </div>
                <div class="small-12 medium-4 large-2 columns">
                    <a href="pricing.html"><i class="fi-dollar"></i>
                            <br />
                            pricing</a>
                </div>
                <div class="small-12 medium-4 large-2 columns">
                    <a href="product-detail.html"><i class="fi-pricetag-multiple"></i>
                            <br />
                            product detail</a>
                </div>
                <div class="small-12 medium-4 large-2 columns">
                    <a href="product.html"><i class="fi-price-tag"></i>
                            <br />
                            product</a>
                </div>
                <div class="small-12 medium-4 large-2 columns">
                    <a href="customer-product-details.html"><i class="fi-pricetag-multiple"></i>
                            <br />
                            Cx Prod Details</a>
                </div>
                <div class="small-12 medium-4 large-2 columns">
                    <a href="profile-detail.html"><i class="fi-torsos-all"></i>
                            <br />
                            profile detail</a>
                </div>
                <div class="small-12 medium-4 large-2 columns">
                    <a href="profile.html"><i class="fi-torso"></i>
                            <br />
                            profile</a>
                </div>
                <div class="small-12 medium-4 large-2 columns">
                    <a href="projects.html"><i class="fi-graph-trend"></i>
                            <br />
                            Project</a>
                </div>
                <div class="small-12 medium-4 large-2 columns">
                    <a href="email.html"><i class="fi-comments"></i>
                            <br />
                            email template </a>
                </div>
                <div class="small-12 medium-4 large-2 columns">
                    <a href="login.html"><i class="fi-lock"></i>
                            <br />
                            login</a>
                </div>
                <div class="small-12 medium-4 large-2 columns">
                    <a href="signup.html"><i class="fi-address-book"></i>
                            <br />
                            signup</a>
                </div>
                <div class="small-12 medium-4 large-2 columns">
                    <a href="search-page.html"><i class="fi-magnifying-glass"></i>
                            <br />
                            search page</a>
                </div>
                <div class="small-12 medium-4 large-2 columns">
                    <a href="blank.html"><i class="fi-page"></i>
                            <br />
                            blank </a>
                </div>
                <div class="small-12 medium-4 large-2 columns">
                    <a href="menu2.html"><i class="fi-book"></i>
                            <br />
                            menu 2 </a>
                </div>
            </div>
        </div>
        <div class="secondary-menu">
            <div class="row">
                <nav class="top-bar" data-topbar role="navigation">
                    <ul class="title-area">
                        <li class="name">

                        </li>
                        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
                    </ul>

                    <section class="top-bar-section">
                        <ul class="left">
                            <li class="active"><a href="#">My Profile</a></li>
                            <li class="has-dropdown">
                                <a href="#">Settings</a>
                                <ul class="dropdown">
                                    <li><a href="#">Account Settings</a></li>
                                    <li class="active"><a href="#">Help</a></li>
                                </ul>
                            </li>

                            <li><a href="menu2.html">Menu 2</a></li>
                        </ul>
                    </section>
                </nav>
            </div>
        </div>
    </div>
</div>