
        <div class="footer-top-area">
            <div class="container" id="footer">
                <div class="row">
                    <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <!-- Footer Left -->
                        <div class="footer-left">
                            <div class="left-footer-content">
                                <!-- Footer Logo -->
                                <p>
                                    <img src="<%= image_path 'logo.png'%>" alt="">
                                </p>
                                <p> We specialize in helping our clients validate, build and expand
their business through technology</p>
                            </div>
                            <!-- Footer Social Widget -->
                            <div class="left-footer-social">
                                <ul class="top-social">
                                    <li>
                                        <a href="https://web.facebook.com/redpanthers.co?_rdr" target="blank">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/redpanthershq" target="blank">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://redpanthers.io/?utm_medium=website" target="blank">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/company/red-panthers" target="blank">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.pinterest.com/redpanthers/" target="blank">
                                            <i class="fa fa-pinterest"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <!-- Footer Center -->
                        <div class="business-inner">
                            <!-- Footer Title -->
                            <h3 class="footer-title">
								<span>Business Hours</span>
							</h3>
                            <div class="business-hour">
                                <ul>
                                    <li>
                                        Monday
                                        <b>9:00am - 9:00pm</b>
                                    </li>
                                    <li>
                                        Tuesday
                                        <b>9:00am - 9:00pm</b>
                                    </li>
                                    <li>
                                        Wednesday
                                        <b>9:00am - 9:00pm</b>
                                    </li>
                                    <li>
                                        Thursday
                                        <b>9:00am - 9:00pm</b>
                                    </li>
                                    <li>
                                        Friday
                                        <b>9:00am - 9:00pm</b>
                                    </li>
                                    <li>
                                        Saturday
                                        <b>9:00am - 9:00pm</b>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="footer-contact">
                            <!-- Footer Title -->
                            <h3 class="footer-title">
								<span>Location</span>
							</h3>
                            <div class="contact-address">
                                <p>
                                    <strong>Kochi, India</strong><br> Vijaya Complex<br> Chembumukku, Kakkanad.<br> Kochi, Kerala, India - 682030<br><br> <b>Wyoming, USA</b><br> 412 N Main St Ste100<br> Buffalo, WY, USA, 82834<br>

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="footer-area">
            <div class="container">
                <div class="row">
                    <!-- Copyright Araa -->
                    <div class="col-md-8">
                        <p>Copyright © 2013 - 2016 <a href="http://bootexperts.com/" target="blank">BootExperts</a>. All rights reserved</p>
                    </div>
                    <div class="col-md-4">
                        <!-- Footer Menu -->
                        <ul class="footer-menu">
                            <li><a href="/">Home</a></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>