
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  

  
  
  
  
  
  
  <div class="row" id="id1">
    <div class="col-sm-3" id="i1">
    <img src="<%= image_path '1.jpg'%>" width=250px; height=300px;/>
    <br>
   <a href="#"> <h4 style="color:#404244" "font-family:raleway">Jennifer Lawrence</h4></a>
   
   Manager
   <br>
   <p class="prac">Practice Areas</p>
   <br>
   <p class="membdes">Business, Real Estate, Land, Family, Cyber Crime</p>
    
    
    </div>
    <div class="col-sm-3" id="i2">
    <img src="<%= image_path 'im3.jpg'%>" width=250px; height=300px;/>
    <br>
   <a href="#"><h4 style="color:#404244" "font-family:raleway">Ashim Kumar</h4></a>
   Founder & CEO
   <br>
   <p class="prac">Practice Areas</p>
   <br>
   <p class="membdes">Real Estate, Criminal, Business, Cyber Crime, Family</p>

    
    </div>
    <div class="col-sm-3" id="i3">
    <img src="<%= image_path 'im4.jpg'%>" width=250px; height=300px;/>
   <a href="#"> <h4 style="color:#404244" "font-family:raleway">Salim Rana</h4></a>
   Councel
   <br>
   <p class="prac">Practice Areas</p>
   <br>
   <p class="membdes">Criminal, Business, Land, Cyber Crime, Real Estate</p>
    
    </div>
    <div class="col-sm-3" id="i4">
    <img src="<%= image_path 'im7.jpg'%>" width=250px; height=300px;/>
   <a href="#"> <h4 style="color:#404244" "font-family:raleway">Emma Watson</h4></a>
   Associate
   <br>
   <p class="prac">Practice Areas</p>
   <br>
   <p class="membdes">Real Estate, Criminal, Business, Cyber Crime, Family</p>
    
    </div>
    </div>
