


  
		<div class="nav-helper-area">
			<div class="container">
				<ol class="breadcrumb">
					<li class="active"></br>You are here: </li>
					<li><a href="/">Home</a></li>
					<li><span>Price List</br></span></li>
				</ol>
			</div>
		</div>




<div class="container text-center" >
  <table class="table table-bordered " >

      <tr class="nam">
        <td><h4>STANDARD PACKAGE</h4></td>
        <td><h4>ADVANCE PACKAGE</h4></td>
        <td><h4>POPULAR PACKAGE</h4></td>
        <td><h4>PREMIUM PACKAGE</h4></td>
      </tr>

  
    
      <tr class="rate">

        <td><h1>$50.5</h1></td>
        <td><h1>$78</h1></td>
        <td><h1>$70</h1></td>
        <td><h1>$120</h1></td>
      </tr>
      <tr>
        <td><h4>Features</h4></td>
        <td><h4>Unlimited</h4></td>
        <td><h4>Unlimited</h4></td>
        <td><h4>Retina</h4></td>
      </tr>
      <tr>
        <td><h4>Retina</h4></td>
        <td><h4>Features</h4></td>
        <td><h4>Features</h4></td>
          <td><h4>Features</h4></td>
        </td>
      </tr>
      <tr>
        <td><h4>Features</h4></td>
        <td><h4>Unlimited</h4></td>
        <td><h4>Unlimited</h4></td>
        <td><h4>Retina</h4></td>
      </tr>
      <tr>
        <td><h4>Retina</h4></td>
        <td><h4>Features</h4></td>
        <td><h4>Features</h4></td>
          <td><h4>Features</h4></td>
        </td>
      </tr>
    <tr class="bttn">
      <td><a href="#" class="btn btn-default"><h4>Purchase Now</h4></a></td>
            <td><a href="#" class="btn btn-default"><h4>Purchase Now</h4></a></td>

      <td><a href="#" class="btn btn-default"><h4>Purchase Now</h4></a></td>

      <td><a href="#" class="btn btn-default"><h4>Purchase Now</h4></a></td>

    </tr>
  </table>
</div>




<div class="container text-center">
  <table class="table table-bordered ">

      <tr class="nam">
        <td><h4>STANDARD PACKAGE</h4></td>
        <td><h4>POPULAR PACKAGE</h4></td>
        <td><h4>PREMIUM PACKAGE</h4></td>
      </tr>

  
    
      <tr class="rate">
        <td><h1>$50.5</h1></td>
        <td><h1>$70</h1></td>
        <td><h1>$120</h1></td>
      </tr>

            <tr>
        <td><h4>Features</h4></td>
        <td><h4>Unlimited</h4></td>

        <td><h4>Retina</h4></td>
      </tr>
      <tr>
        <td><h4>Retina</h4></td>
        <td><h4>Features</h4></td>

          <td><h4>Features</h4></td>
        </td>
      </tr>
      <tr>
        <td><h4>Features</h4></td>
        <td><h4>Unlimited</h4></td>

        <td><h4>Retina</h4></td>
      </tr>
      <tr>
        <td><h4>Retina</h4></td>
        <td><h4>Features</h4></td>

          <td><h4>Features</h4></td>
        </td>
    <tr class="bttn">
      <td><a href="#" class="btn btn-default"><h4>Purchase Now</h4></a></td>


      <td><a href="#" class="btn btn-default"><h4>Purchase Now</h4></a></td>

      <td><a href="#" class="btn btn-default"><h4>Purchase Now</h4></a></td>

    </tr>
  </table>
</div>
