<!-- Nav Helper start -->
<div class="nav-helper-area">
	<div class="container">
		<ol class="breadcrumb">
			<li class="active">You are here: </li>
			<li><a href="index.html">Home</a></li>
			<li> <span>Services</span></li>
		</ol>
	</div>
</div>
<!-- Nav Helper end -->

<!-- Services Artical start -->
<div class="services-area section-padding2">
		<div class="container">
			  <div class="row">
					<div class="col-md-12">
						<div class="services-inner">
							<div class="services-image">
                  <%= image_tag "service/working.jpg", :class => "animated rollIn"%>
              </div>
							<div class="artical-list">
								<h2 class="artical-title">Services We Provide</h2>
								<p>Time flies like an arrow, but to hit the center of the board is difficult. Plenty of task with limited time is the constrain of most of the people to dive along with their aim. If you feel difficulty to dive forward, we are here to help you to achieve your task in the time constrain.</p>
								<h2 class="artical-title">Last six year statistics</h2>
								<h3 class="artical-stats">Year 2013 - 2016 <span>( 600 cases won )</span> </h3>
								<div class="col-md-4">
									<div class="service-quote">
										<i class="fa fa-quote-left fa-3x fa-pull-left fa-border"></i><br><br><br>
										<h4 id="hdh">CTO Consultation</h4>
										<p>We are here to assure the successful execution of the company’s business mission through development and deployment of the company’s web presence. This requires envisioning the company’s service, leading implementation and planning for risk and growth.</p>
									</div>
								</div>
								<div class="col-md-4">
									<div class="service-quote">
										<i class="fa fa-search fa-3x fa-pull-left fa-border"></i><br><br><br>
										<h4 id="hdh">UI/UX consultation</h4>
										<p>We are here to resolve your issue. Red Panthers main advantage is our holistic approach. We love to start with UI/UX work and we can quickly proceed to front-end design. Usability analysis mix art along with coding. Our UX analysis covers the range, measuring details and estimating intangible glamor. We will assign our brain which work like left-brain analytics to recognize all of the problems as we utilize for right-brain inspiration and visuals.</p>
									</div>
								</div>
								<div class="col-md-4">
									<div class="service-quote">
										<i class="fa fa-gavel fa-3x fa-pull-left fa-border"></i><br><br><br>
										<h4 id="hdh">Implement TDD/BDD</h4>
										<p>Testing frequently gets left to the last minute, then reduce because out of time, over-flow of money or something else. Then arise the question “why”. It’s unavoidable;however, that the primary step in all project is a discussion about the overall behaviors of the software or feature to be develop. We solve the problem “why” behind the code by invoking automated test suites and provide effective training to cultivate Test Driven Development and Behavioural Driven Development.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Services Artical end -->
		<!-- Coutner start-->
		<div class="counter-area">
			<div class="container">
				<div class="row">
					<div class=" col-lg-3 col-md-3 col-sm-3 col-xs-6">
						<div class="single-counter wow" data-wow-duration="1.5s" data-wow-delay=".3s">
							<div class="counter-info">
								<span class="fcount">
									<span class="counter">365</span>
								</span>
								<h3>Happy Clients</h3>
							</div>
						</div>
					</div>
					<div class=" col-lg-3 col-md-3 col-sm-3 col-xs-6">
						<div class="single-counter wow" data-wow-duration="1.5s" data-wow-delay=".3s">
							<div class="counter-info">
								<span class="fcount">
									<span class="counter">95</span>%</span>
								<h3>Cases success</h3>
							</div>
						</div>
					</div>
					<div class=" col-lg-3 col-md-3 col-sm-3 col-xs-6">
						<div class="single-counter wow" data-wow-duration="1.5s" data-wow-delay=".3s">
							<div class="counter-info">
								<span class="fcount">
									<span class="counter">754</span>k</span>
								<h3>Recovered</h3>
							</div>
						</div>
					</div>
					<div class=" col-lg-3 col-md-3 col-sm-3 col-xs-6">
						<div class="single-counter wow" data-wow-duration="1.5s" data-wow-delay=".3s">
							<div class="counter-info">
								<span class="fcount">
									<span class="counter">821</span>
								</span>
								<h3>Cases done</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Coutner end-->
		<!-- contact area start -->
		<div class="contact-area section-padding">
			<div class="container">
		        <div class="row">
		            <div class="col-md-12 col-sm-12 col-xs-12">
						<!-- Contact Title -->
                        <div class="section-title">
                            <h3>Get a free consultation</h3>
							<p></p>
                        </div>
		            </div>
		        </div>
				<!-- Contact Form -->
		        <div class="contact-innder">
					<form action="#">
						<div class="row pad">
							<div class="col-md-4 col-sm-4 col-xs-12">
								<input type="text" value="Name..." onblur="if (this.value=='') this.value='Name...';" onfocus="if (this.value=='Name...') this.value='';" id="name" name="name">
							</div>
							<div class="col-md-4 col-sm-4 col-xs-12">
								<input type="email" value="Email..." onblur="if (this.value=='') this.value='Email...';" onfocus="if (this.value=='Email...') this.value='';" id="email" name="email">
							</div>
							<div class="col-md-4 col-sm-4 col-xs-12">
								<input type="text" value="Subject..." onblur="if (this.value=='') this.value='Subject...';" onfocus="if (this.value=='Subject...') this.value='';" id="subject" name="subject">
							</div>
						</div>
						<div class="row pad">
							<div class="col-xs-12">
								<textarea onblur="if (this.value=='') this.value='Message...';" onfocus="if (this.value=='Message...') this.value='';" id="message" name="message">Message...</textarea>
							</div>
						</div>
						<div class="row pad">
							<div class="col-md-4 col-sm-4 col-xs-12 col-md-offset-4 col-sm-offset-4">
								<input type="text" required="" placeholder="3 + 4 = ?" name="sccaptcha">
							</div>
						</div>
						<div class="row pad center">
							<div class="col-md-4 col-sm-4 col-xs-12 col-md-offset-4 col-sm-offset-4">
								<input type="submit" value="Send Message" class="btn btn-primary">
							</div>
						</div>
					</form>
		    </div>
		</div>
</div>
<!-- Contact area end -->
