<div class="nav-helper-area" style="background: transparent url('img/nav-helper.png') repeat scroll 0 0">
			<div class="container">
				<ol class="breadcrumb">
					<li class="active">You are here:</li>
					<li><a href="index.html">Home</a></li>
					<li><a href="practicestyle1.html">Practice areas link</a></li>
					<li> <span>Employment Law</span></li>
				</ol>
			</div>
		</div>
		<!-- Nav Helper end -->
		<!-- Single Practice start -->
		<div class="single-practice-area section-padding2">
			<div class="container">
			    <div class="row">
			        <div class="col-md-6">
			          <%= image_tag "singlepage.jpg" %>
			        </div>
			        <div class="col-md-6">
			            <h2>Business & Finance</h2>
			            <p>Suspendisse commodo auctor molestie. Mauris arisusvitae massa consequat pharetra. Suspendisse dapibus erat lectus rutrum bibendum. Praesent scscelerisque.</p>
			            <p>Fusce vel enim sapien. Vivamus pellentesque hendrerit erat, sit amet dictum nibh viverra iaculis. Sed porta nisl molestie hendrerit. Integer tempus pulvinar laoreet.</p>
			            <div class="row">
			                <div class="col-md-16 col-sm-6 col-xs-12">
                                <ul class="fa-ul">
                                    <li>
                                        <i class="fa fa-check"></i>
                                        Lorem ipsum dolor sit amet
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i>
                                        Lorem ipsum dolor sit amet
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i>
                                        Lorem ipsum dolor sit amet
                                    </li>
                                </ul>
			                </div>
			                <div class="col-md-16 col-sm-6 col-xs-12">
                                <ul class="fa-ul">
                                    <li>
                                        <i class="fa fa-check"></i>
                                        Lorem ipsum dolor sit amet
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i>
                                        Lorem ipsum dolor sit amet
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i>
                                        Lorem ipsum dolor sit amet
                                    </li>
                                </ul>
			                </div>
			            </div>
			        </div>
			    </div>
			</div>
		</div>
