
<br>
<br>
<br>


<div class="nav-helper-area" style="background: transparent url('img/nav-helper.png') repeat scroll 0 0">
			<div class="container">
				<ol class="breadcrumb">
					<li class="active">You are here:</li>
					<li><a href="index.html" style="color:#f96d55">Home</a></li>
					<li><a href="teams.html" style="color:#f96d55">Team Members</a></li>
					<li> <span> Single</span></li>
				</ol>
			</div>
		</div>
	<br>
    <br>
    <br>	

<div class="attorney-area section-padding3">
	 	<div class="container">
				<div class="row">
					<div class="col-md-6">
						<!-- Attorney Image -->
						<div class="attorney-image">
							<img src="<%= image_path '2.jpg'%>" alt="" class="img-responsive">
						</div>
					</div>
					<div class="col-md-6">
						<!-- Attorny Content -->
						
							<p style="font-size:30px">Jenn Kumar <span style="color:#f96d55;">(Manager)</span></p>
							
                            <br>
                            <p style="line-height: 1.8">There are many variations of passages of Lorem Ipsum available but the majority have suffered alteration in some form by injected humour or randomised words which looks anitime even believable. If you are going to use passage of lorem Ipsum you need to be sure there is anything works lorem ipsum as their default model text and search for loremipsum will uncover many web sites still in their infancy various versions have evolved over the years.</p>
							<br>
                            <p style="line-height: 1.8">Suspendisse commodo auctor molestie. Mauris arisusvitae massa consequat pharetra. Suspendisse dapibus erat lectus rutrum bibendum. Praesent scscelerisque.</p>
							<br>
                            <p style="line-height: 1.8">Fusce vel enim sapien. Vivamus pellentesque hendrerit erat, sit amet dictum nibh viverra iaculis. Sed porta nisl molestie hendrerit. Integer tempus pulvinar laoreet.</p>
							<br>
                           <p style=" font-size:20px" >Contact Info</p>
							<div class="contact-info-box">
								<i class="fa fa-map-marker"></i>
								<p>PO Box 16122 Collins Street <br> West Victoria 8007 Australia</p>
							</div>
							<div class="contact-info-box">
								<i class="fa fa-envelope"></i>
								<p>
									<span><a href="mailto:email@email.com" style="color:#f96d55">email@email.com</a></span>
									<br> http://BootExperts.com
								</p>
							</div>
							<div class="contact-info-box">
								<i class="fa fa-phone"></i>
								<p>+61 3 8376 6284 <br> +61 3 8376 6284</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		