
  <br>
  <br>
  <div class="nav-helper-area" style="background: transparent url('img/nav-helper.png') repeat scroll 0 0">
			<div class="container">
				<ol class="breadcrumb">
					<li class="active">You are here:</li>
					<li><a href="index.html" style="color:#f96d55">Home</a></li>
					<li><a href="#" style="color:#f96d55">Team Members</a></li>
					<li> <span>Details</span></li>
				</ol>
			</div>
		</div>
  <br>
  <br>
  <br>
  <br>
  

	
		
		    <div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-3 col-xs-12  ">
						<!-- Team Member -->
						<div class="team-members">
							<!-- Member Image -->
							<div class="member-image">
								<img src="<%= image_path '1.jpg'%>"width=250px; height=300px; />
							</div>
							<!-- Member Content -->
							<div class="member-content" >
								  <h4 style="color:#404244" "font-family:raleway">Jennifer Lawrence</h4>
								<br>
								<p style="font-style:italic">Manager</p>
								<br>
								<p style="color: #f96d55" "margin: 20px 0 5px">Practice areas</p>
								<p class="member-details pid">Business, Real Estate, Land, Family, Cyber Crime</p>
							</div>
							<br>
							 <button type="button" class="btn btn-default" ><a href="team_show" style="color:#f96d55">Full Bio</a></button>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12  ">
						<div class="team-members">
							<!-- Member Image -->
							<div class="member-image">
								<img src="<%= image_path '2.jpg'%>" width=250px; height=300px;/>
							</div>
							<!-- Member Content -->
							<div class="member-content">
								 <h4 style="color:#404244" "font-family:raleway">Jenn Kumar</h4>
							<br>
								<p style="font-style:italic">Founder & CEO </p>
								<br>
								<p style="color: #f96d55" "margin: 20px 0 5px">Practice areas</p>
								<p class="member-details pid">Criminal, Business, Land, Cyber Crime, Real Estate,</p>
							</div>
							<br>
							<button type="button" class="btn btn-default"><a href="team_show1" style="color:#f96d55">Full Bio</a></button>
							
							
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12">
							<!-- Member Image -->
						<div class="team-members">
							<div class="member-image">
								<img src="<%= image_path '3.jpg'%>" width=250px; height=300px;/>							</div>
							<!-- Member Content -->
							<div class="member-content">
							 <h4 style="color:#404244" "font-family:raleway">Ashim Lawrence</h4>
								<br>
								<p style="font-style:italic">Counsel</p>
								<br>
								<p style="color: #f96d55" "margin: 20px 0 5px">Practice areas</p>
								<p class="member-details pid">Criminal, Business, Land, Cyber Crime, Real Estate,</p>
							</div>
							<br>
						<button type="button" class="btn btn-default"><a href="team_show2" style="color:#f96d55">Full Bio</a></button>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12 ">
							<!-- Member Image -->
						<div class="team-members">
							<div class="member-image">
								<img src="<%= image_path '4.jpg'%>" width=250px; height=300px;/>
							</div>
							<!-- Member Content -->
							<div class="member-content">
								 <h4 style="color:#404244" "font-family:raleway">Emma Wils</h4>
								
								<br>
								<p style="font-style:italic">Associate</p>
								<br>
								<p style="color: #f96d55" "margin: 20px 0 5px">Practice areas</p>
                                
								<p class="member-details pid">Real Estate, Criminal, Business, Cyber Crime, Family,</p>
							
							
						</div>
						<br>
						<button type="button" class="btn btn-default"><a href="team_show3" style="color:#f96d55">Full Bio</a></button>
					</div>
				</div>
				
							</div>
						</div>
					
				
		    