
  <br>
  <br>
  <div class="nav-helper-area" style="background: transparent url('img/nav-helper.png') repeat scroll 0 0">
			<div class="container">
				<ol class="breadcrumb">
					<li class="active">You are here:</li>
					<li><a href="index.html">Home</a></li>
					<li><a href="#">Team Members</a></li>
					<li> <span>Details</span></li>
				</ol>
			</div>
		</div>
  <br>
  <br>
  <br>
  <br>
  

	
		<div class="attorneys-style-1 section-padding3">
		    <div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-3 col-xs-12  ">
						<!-- Team Member -->
						<div class="team-members">
							<!-- Member Image -->
							<div class="member-image">
								<img src="<%= image_path '1.jpg'%>" width=250px; height=300px;/>
							</div>
							<!-- Member Content -->
							<div class="member-content" >
								 <a href="#"> <h4 style="color:#404244" "font-family:raleway">Jennifer Lawrence</h4></a>
								<br>
								<p style="font-style:italic">Manager</p>
								<br>
								<p style="color: #f96d55" "margin: 20px 0 5px">Practice areas</p>
								<p class="member-description">Business, Real Estate, Land, Family, Cyber Crime</p>
							</div>
							  <button type="button" class="btn btn-info">Full Bio</button>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12  ">
						<div class="team-members">
							<!-- Member Image -->
							<div class="member-image">
								<img src="<%= image_path '2.jpg'%>" width=250px; height=300px;/>
							</div>
							<!-- Member Content -->
							<div class="member-content">
								 <a href="#"> <h4 style="color:#404244" "font-family:raleway">Jenn Kumar</h4></a>
							<br>
								<p style="font-style:italic">Founder & CEO </p>
								<br>
								<p style="color: #f96d55" "margin: 20px 0 5px">Practice areas</p>
								<p class="member-description">Criminal, Business, Land, Cyber Crime, Real Estate,</p>
							</div>
							<button type="button" class="btn btn-info">Full Bio</button>
							
							
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12">
							<!-- Member Image -->
						<div class="team-members">
							<div class="member-image">
								<img src="<%= image_path '3.jpg'%>" width=250px; height=300px;/>							</div>
							<!-- Member Content -->
							<div class="member-content">
								 <a href="#"> <h4 style="color:#404244" "font-family:raleway">Ashim Lawrence</h4></a>
								<br>
								<p style="font-style:italic">Counsel</p>
								<br>
								<p style="color: #f96d55" "margin: 20px 0 5px">Practice areas</p>
								<p class="member-description">Criminal, Business, Land, Cyber Crime, Real Estate,</p>
							</div>
							
						<button type="button" class="btn btn-info">Full Bio</button>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12 ">
							<!-- Member Image -->
						<div class="team-members">
							<div class="member-image">
								<img src="<%= image_path '4.jpg'%>" width=250px; height=300px;/>
							</div>
							<!-- Member Content -->
							<div class="member-content">
								 <a href="#"> <h4 style="color:#404244" "font-family:raleway">Emma Wils</h4></a>
								
								<br>
								<p style="font-style:italic">Associate</p>
								<br>
								<p style="color: #f96d55" "margin: 20px 0 5px">Practice areas</p>
                                <br>
								<p class="member-description">Real Estate, Criminal, Business, Cyber Crime, Family,</p>
							</div>
							
						</div>
						<button type="button" class="btn btn-info">Full Bio</button>
					</div>
				</div>
				
							</div>
						</div>
					</div>
				</div>
		    