@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome";


@import "home";



#id1{
    text-align: center;
}
#i1{
    padding-left:70px;
    text-align: center;
}

.prac{
    color: #f96d55;
    margin: 20px 0 5px;
}



