// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#id1 {
    text-align: center;
}

#i1 {
    padding-left: 70px;
    text-align: center;
}

.prac {
    color: #f96d55;
    margin: 20px 0 5px;
}

.slider-wrapper {
    width: 100%;
}

.section-padding {
    padding: 80px 0;
}

.feature-header {
    text-align: center;
}

.footer-top-area {
    .row {
        background: #343434;
    }
}