@charset "utf-8";

#i1{
text-align: center;
color: white;
background-color: darkslategrey;
font-size: 50px;

}

#i2{
  padding-top: 20px;
  padding-left: 20px;
    font-size: 15px;
    background-color: #ff8566;
    text-align: center;
    color: white;
}

#i3{
 a:hover {background-color: #ff8566}
}

#i4{

background-color: white;
height: 100px;

}

