@charset "utf-8";

.rate{
text-align: center;
color: white;
background-color: darkslategrey;
font-size: 50px;

}

.nam{
  padding-top: 20px;
  padding-left: 20px;
    font-size: 15px;
    background-color: #ff8566;
    text-align: center;
    color: white;
}

.bttn{
   a:hover {
     background-color: #ff8566;
   }
}


.table{
  margin-top: 50px;
  margin-bottom: 20px;
}
